
.works-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
    /* justify-content: flex-start; */
    grid-gap: 0.8rem;
    gap: 0.8rem;
    display: flex;
    align-items: center;
    
}


.works-title div{
    width: 0.6rem;
    height: 2rem;
    background-color: #eb5e28;
    
}


@media (min-width: 768px){
    .selectedPostsConatiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2.4rem;
        gap: 2.4rem;
    
    }  
}


@media (max-width: 767px){
    .selectedPostsConatiner {
        display: flex;
        flex-direction: column;
        grid-gap: 2.4rem;
        gap: 2.4rem;
    }
}