
.home-container{
  padding-top: 13vh;
  margin: auto;
  width: 50vw;
  max-width: 1000px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.footer {
  width: 50%;
  margin: auto;
  font-size: 1rem;
  color: #252422;;
  padding: 0 6.4rem 6.4rem;
  text-align: center;
  margin-top: 4rem;
  height: 1rem;
}

@media (max-width: 64em){
.footer {
    width: 70%;
}
}


@media (max-width: 32em){

.home-container{
  /*  */
  width: 90%;
}

.footer {
    width: 40%;
}
}